.App {
  text-align: center;
  position: relative;
}

.account-container{
  position: absolute;
  left: 0;
  border: 5px solid blue
}

.contacts-container{
  position: relative;
  border: 5px solid;
  padding: 30;
}


.new-contact-form{
  position: relative;
  border: 5px solid yellow;
  padding: 30;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.message-display{
  position: relative;
  border: 5px solid green;
  padding: 17;
  align-items: center;
}
.message-content{
  display: flex
}
.send-message{
  display: flex;
  justify-content: flex-end;
}

.user{
  border: 5px solid blue

}

.user-card{
  border: 2px solid red;
  padding: 30px;
}

.user-image{
  position: relative;
}
