.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.account-container{
  position: absolute;
  left: 0;
}

.contacts-container{
  position: relative;
  border: 5px solid;
  padding: 30
}

.contact-form{
  position: relative;
  border: 5px solid yellow;
  padding: 30
}

.user-card{
  border: 2px solid red;
  padding: 30px;
}

.user-image{
  position: relative;
}
